.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.filters h3,
.filters h4 {
    margin: 0;
    padding: 0;
}

.filters h3 {
    margin-top: 17px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 12px 30px;
}

.filters button:hover {
    opacity: 0.9;
}

.popover {
    display: none;
    position: absolute;
    top: 100%;
    float: left;
    left: -30px;
    width: calc(100% + 30px);
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    overflow-y: auto;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover,
.popover li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover h2 {
    font-size: 16px;
    margin: 10px 0 5px 15px;
}

.popover li {
    padding: 5px 15px;
}
