.places .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.places h1 {
    font-size: 30px;
    margin: 40px 0 20px 20px;
}

.places .items article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places .items article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}
