.places .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.places h1 {
    font-size: 30px;
    margin: 40px 0 20px 20px;
}

.places .items article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.places .items article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

.price_by_night {
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 60px;
    height: 60px;
    color: #FF5A5F;
    font-size: 20px;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    margin-top: 40px;
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.max_guest::before,
.number_rooms::before,
.number_bathrooms::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.max_guest::before {
    background-image: url('../images/icon_group.png');
    background-size: cover;
}

.number_rooms::before {
    background-image: url('../images/icon_bed.png');
    background-size: cover;
}

.number_bathrooms::before {
    background-image: url('../images/icon_bath.png');
    background-size: cover;
}

.user {
    margin-top: 20px;
}

.description p {
    text-align: justify;
}
